@font-face {
    font-family: 'TmoneyRoundWindExtraBold' ;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

#profile {
    margin: 12px 10px 0 0;
    width: 40px;
}
body{
font-family: 'Noto Sans KR', sans-serif;
font-size: 100%;
font-size: 15px;
line-height: 1.5;
}


nav ul {
    width: 100%;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 12%;
    box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.2);
}
nav ul li {
    display: inline-block;
}
#logo {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 22px;
    color: #2044FF;
}
.drop {
    position: relative;
}
.drop-menu {
    color: black;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 13px;
}
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop:hover .drop-content {
    display: block;
}
.drop-content a:hover {background-color: #f1f1f1}
#drop-menu:hover {
    background-color: #2044FF;
    padding: 18px;
    color: white;
}
.myteam, .mypage, .search-bar, .logout, .id, .profile {
    font-size: smaller;
    float: right;
}
.mypage {
    margin-right: 12%;
}
.myteam a, .mypage a, .search-bar, .id a, .profile a {
    display: block;
    text-decoration: none;
    color: black;
}
.myteam a, .mypage a, .search-bar {
    padding: 23px 19px 23px 0;
}
.id a {
    padding: 23px 0;
}
.search-bar, .search {
    text-align: left;
    color: gray;
    width: 200px;
    padding: 10px 25px;
    background-color: whitesmoke;
    border-radius: 50px;
}
.search-bar {
    margin: 14px 50px;
}
.logout {
    font-size: xx-small;
    margin: 21px 30px 21px 10px;
    text-align: center;
    width: 60px;
    padding: 3px;
    border-radius: 20px;
    border: 1px solid #2044FF;
    color: #2044FF;
    cursor: pointer;
}



navbar ul {
    width: 100%;
    background-color: rgb(230, 230, 230);
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 12%;
    box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.2);        
}
navbar ul li {
    display: inline-block;
}

.drop2 {
    position: relative;
}
.drop-menu2 {
    color: black;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
}
.drop-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 13px;
}
.drop-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop:hover .drop-content {
    display: block;
}

.icon {
    font-size: smaller;
    float: right;
}
.icon {
    margin-right: 12%;
}
.icon {
    display: block;
    text-decoration: none;
    color: black;
}
.icon {
    padding: 23px 19px 23px 0;
}
.id a {
    padding: 23px 0;
}



.bar{
margin: 0px;
padding: 0px;
padding-bottom: 15px;
}

.bar img {
position: fixed;
    background-color: aquamarine;
    height: auto;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: url(상단바.png);
    /*background-size: 50%;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.site-container{
padding: 0 0 0 13%;
margin: 5rem auto;
margin-top: 3rem;
margin-bottom: 3rem;
max-width: calc(100% -50px);
float: left;
}

.site2-container{
padding: 0 0 0 13%;
margin: 5rem auto;
margin-top: 2rem;
max-width: calc(100% -50px);
float: left;
}

.teem-container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 1rem;
}

.teem-image{
margin: 0;
padding: 0;
overflow: hidden;
}

.teem-image img{
max-width: 100%;
height: auto;
border-radius: 15px 15px 0 0;
}
.teem-content img{
max-width: 10%;
height: auto;
border-radius: 15px 15px 0 0;
vertical-align: middle;
}
.teem-content {
font-size: 13px;
margin : 10px;
align-content: center;
vertical-align: middle;
}


.teem-card{
background: white;
transition: 0.3s;
}

.teem-card {
box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
border-radius: 15px;
cursor: pointer;
}

@media screen  {
.site-container {
max-width: 3000px;
}
.site2-container {
max-width: 3000px;
}
.teem-card {
display: grid;
grid-template-rows: 170px 1fr;
}
}
